// bootstrap breakpoints
body:after {
	background-color: #2b2;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 2em;
	left: 10px;
	padding: 0 .2em;
	position: fixed;
	text-align: center;
	top: 10px;
	z-index: 1000000;
}


// - xs >= 480px
// @media (min-width: $screen-xs-min){  // you can use this built in Bootstrap breakpoint variable instead
@media (min-width: 480px){
	body:after {
		content: 'XS';
	}
}

// - sm >= 768px
// @media (min-width: $screen-sm-min){  // you can use this built in Bootstrap breakpoint variable instead
@media (min-width: 768px){
	body:after {
		content: 'SM';
	}
}

// - md >= 992px
// @media (min-width: $screen-md-min){  // you can use this built in Bootstrap breakpoint variable instead
@media (min-width: 992px){
	body:after {
		content: 'MD';
	}
}

// - lg >= 1200px
// @media (min-width: $screen-lg-min){  // you can use this built in Bootstrap breakpoint variable instead
@media (min-width: 1200px){
	body:after {
		content: 'LG';
	}
}
