body:after {
  background-color: #2b2;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 2em;
  left: 10px;
  padding: 0 .2em;
  position: fixed;
  text-align: center;
  top: 10px;
  z-index: 1000000;
}

@media (min-width: 480px) {
  body:after {
    content: 'XS';
  }
}
@media (min-width: 768px) {
  body:after {
    content: 'SM';
  }
}
@media (min-width: 992px) {
  body:after {
    content: 'MD';
  }
}
@media (min-width: 1200px) {
  body:after {
    content: 'LG';
  }
}
